<div>
    <h3>Language Detection</h3>
  
    <div>
      <form (submit)="submitData()" class="mb-5">
        <div class="form-group mb-2">
          <label for="text">Text:</label>
          <textarea class="form-control" id="text" name="text" placeholder="Text" rows="6" [(ngModel)]="text"></textarea>
        </div>
        <div class="form-check">
            <input [(ngModel)]="clean" class="form-check-input" type="checkbox" value="" id="clean" name="clean">
            <label class="form-check-label" for="clean">
              Clean
            </label>
          </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <div *ngIf="result.length > 0;">Languages detected: {{ result }}</div>
</div>